/* Detail.css */

.detail-container {
    text-align: center;
    background-color: #15202b; /* Couleur de fond */
    min-height: 100vh; /* Hauteur minimale de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .detail-title {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff; /* Couleur du texte */
    margin-bottom: 20px;
    text-transform: uppercase; /* Transformation en majuscules */
  }
  
  .detail-image {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px; /* Bordures arrondies */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre légère */
  }
  
  .detail-overview {
    margin-top: 20px;
    color: #ffffff; /* Couleur du texte */
  }
  
  .detail-button {
    margin-top: 20px;
    padding: 12px 24px; /* Ajustement des valeurs de padding */
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #23d197; /* Couleur du bouton */
    color: #ffffff; /* Couleur du texte du bouton */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .detail-button:hover {
    background-color: #1ca184; /* Couleur du bouton au survol */
    color: #ffffff; /* Couleur du texte du bouton au survol */
  }
  
  .detail-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff; /* Couleur du texte du lien */
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .detail-link:hover {
    color: #1ca184; /* Couleur du lien au survol */
  }
  