.custom-top-rated-movies-page {
  padding: 20px;
  background-color: #15202b;
}

.custom-page-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.custom-movie-list {
  margin-top: 20px;
}

.custom-movie-card {
  margin-bottom: 20px;
}

.custom-movie-poster {
  width: 100%;
  height: auto;
}

.custom-movie-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.custom-movie-overview {
  font-size: 14px;  
  color: #000;
}
